.firstPage,
.questions-container,
.all-done-container {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
}
Button{
    background-color: purple;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
#subheader{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 25px;
}
#highScores{
 float: left;
}
#timer{
 float: right;
 /*margin-top: -35px;*/
}

.hide {
  display: none;
}
